<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row" >
        
        <div >
          <button  onclick="history.back()" class="au-btn-submit" style=" display:block; height: 50px; width: 50px; border-radius: 30%; border: 1px solid" > <i class="fa fa-arrow-left" aria-hidden="true"></i> </button>
          <span></span>
        </div>
        
        <div id="videoParent" style="text-align: center">
          <div hidden id="videoDiv" class="embed-responsive embed-responsive-16by9" >
            <video controls id="videoPlayer" src="" data-path=""></video>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
