<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row" style="text-align:center">

                <div>

                    <img src="{{ movie.image }}" onerror="this.onerror=null; this.src='assets/images/products/placeholder.png'"   class="detail-image" width="30%">

                    <h3>{{movie.name}}</h3>
                    <div>  
                        <p> Released Year : <span class="price">{{movie.year }} </span> &nbsp;&nbsp; 
                            Runtime : <span class="price">{{movie.runTime    }}   </span>  &nbsp;&nbsp;
                            Rating : <span class="price">{{movie.imdbRating  }} </span>  </p>            
                    </div> 
                   
                    <h4>Description</h4>
                    <p>{{movie.description}}</p>

                    <br><br>
                    <h4>Story Line</h4>
                    <p>{{movie.story}}</p>

                    <hr>
                        <p><span><b> Director : </b> </span> {{movie.directors}} </p>
                    <hr>
                        <p><span><b> Writers : </b> </span> {{movie.writers}} </p>
                    <hr>
                        <p><span><b> Stars : </b> </span> {{movie.stars}} </p>
                    <hr>

                    <a routerLink="" class="primary-btn">Back to Home</a>

                    <div style="padding-left: 75px;" *ngIf="showDownloadLink">
                        <!-- <button  *ngFor="let temp of downloadLinks" (click)='startVideoPlayer(temp.torrentMagnetUrl)' class="au-btn-submit" >{{temp.title}}</button> -->
                            <select #myDropdown  style="margin-left: 30px;text-align: center;" class="primary-btn">
                                <!-- (change)="dropDownChangePerPaze(+myDropdown.value)" -->
                                <option [selected] ="language === 'ALL'">ALL</option>
                                <option [selected] ="language === 'Hindi'">Hindi</option>
                                <option [selected] ="language === 'Tamil'">Tamil</option>
                                <option [selected] ="language === 'Telugu'">Telugu</option>
                            </select>
                            <button (click)="setMovieName(movie.name+' '+(myDropdown.value != 'ALL' ? myDropdown.value : ''))" class="primary-btn">Watch And Downloads Links</button>
                    </div>

                    <app-dowload-links *ngIf="buttonClick" [movieName]="movieName"></app-dowload-links>

                    <br><br><br>     
                    <div *ngIf="otherImageList.length > 0">
                        <carousel [images]="otherImageList" [objectFit]="'cover'" [cellWidth]="'100%'" 
                                  [height]="500" [width]="1000" [autoplay]="true" [dots]="true" 
                                  [loop]="true" [borderRadius]="10">
                        </carousel>
                    </div>               
                

                    <br><br><br>
                    <div *ngIf="movie.youtubeTrailer" class="embed-responsive embed-responsive-16by9" >
                        <iframe width="1100" height="500" class="embed-responsive-item"  [src]="'https://www.youtube.com/embed/'+movie.youtubeTrailer+'?rel=0' | safe" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
